/* For 980px or less */
/*
            @media screen and (max-width: 980px) {
                
                #pagewrap {
                    width:94%; 
                }
                #content{
                    width: 65%;
                }
                #sidebar {
                    width:30%
                }
            }
            
/* For 700px or less */

@media screen and (max-width: 1100px) {
                
    
    .product_list_desc {
        
        border-top:1px solid #C9C9C9;
        width:50%;
        font-size:100%;
        
    }
    
    .product_list_img {
        
        width:30%;
        font-size:8px;
        
    }
    
    img.thumb {
    
        width:90%;
        border:1px solid gray;
        background:#FFFFFF;
    
}
 
}
 
@media screen and (max-width: 980px) {
    
    
    .product_list_desc {
        
        border-top:1px solid #C9C9C9;
        width:40%;
        font-size:100%;
        
    }
    
    .product_list_img {
        
        width:30%;
        font-size:8px;
        
    }
    
    img.thumb {
    
        width:100%;
        border:1px solid gray;
        background:#FFFFFF;
    
}
    
    
}
       
/* For 780px or less */
@media screen and (max-width: 780px) {
    
    
    #content {
        
        width:100%;
        clear:both;
        
    }
    #contact{
        
        float:left;
        width:100%;
        clear:both;
        
    }
    
    
   .nav_li {
        
        
        width:23%;
        margin-bottom:0px;
        
    }
    /*
    .menu_links {
        font-size:120%;
        line-height: normal;
        border:0px solid gray;
        width:100%;
        height:auto;
        padding:5px;
        
    }
    .menu_links:hover {
        font-size:120%;       
        line-height: normal;
        display:block;
        border:0px solid gray;
        width:100%;
        height:auto;
        padding:5px;
        vertical-align: middle;


    }
    
    .last {

        margin-bottom:10px;       

    }
    .last:hover {

        margin-bottom:10px;       

    }



    #nav_ul a:link, a:active, a:visited {

        color:white;
        font-weight:bold; 

    }

    img.thumb {

        width:80%;
        border:1px solid gray;
        background:#FFFFFF;
        float:left;

    }

    .product_list_desc {


            border-top:1px solid #C9C9C9;
            width:85%;
            clear:both;
            margin-bottom:10px;

    }

    .product_list_img {

        min-width:80%;
        


    }
    */
}

    
/* 480px or less */
@media screen and (max-width: 480px) {
    
    #header_img {
    
    display:none;
    
    }
    
    #mobile_header_img {
    
    width:100%;
    display:block;
    
    } 
    #mobile_menu_icon {
        
        width:60%;
        
    }
    
    #content {
        
        width:100%;
        clear:both;
        
    }
    #contact{
        
        float:left;
        width:100%;
        clear:both;
        
    }

    #mobile_menu {
        
        float:left;
        padding-left:2%;
		padding-right:2%;
        display:block;
        
    }
    
    .navbar_hide {
        
        display:none!important;
        
    }
    
    #navbar {
        
        width:100%;
        margin-bottom:10px;
        
        vertical-align:middle;
        text-align:center;
        padding:0px;
        background-color:#2e2e2e;
        border:0px solid gray;

        box-shadow: 0px 0px 0px #000;
        /*Add other browser alt versions */

        /*font settings*/
        font-family:Tahoma,Geneva,sans-seriff;
        margin:0px;
    }
    
   .nav_li {
        
        margin-left:1%;
        margin-right:3%;
        width:95%;
        margin-bottom:0px;
        
    }
    
    .menu_links {
        font-size:100%;
        line-height: normal;
        border:0px solid gray;
        width:100%;
        height:auto;
        padding:5px;
        
    }
    .menu_links:hover {
        font-size:100%;       
        line-height: normal;
        display:block;
        border:0px solid gray;
        width:100%;
        height:auto;
        padding:5px;
        vertical-align: middle;


    }
    
    .last {

        margin-bottom:10px;       

    }
    .last:hover {

        margin-bottom:10px;       

    }



    #nav_ul a:link, a:active, a:visited {

        color:white;
        font-weight:bold; 

    }

    img.thumb {

        width:80%;
        border:1px solid gray;
        background:#FFFFFF;
        float:left;

    }

    .product_list_desc {


            border-top:1px solid #C9C9C9;
            width:75%;
            clear:both;
            margin-bottom:10px;
            padding-right:0px!important;

    }

    .product_list_img {

        min-width:80%;
        


    }
}