html, body{
    margin:0px;
    padding:0px;
    background-color:#2e2e2e;
}

header {
    width:96%;
    padding:0px;
    margin:10px;
    margin-left:2%;
    margin-right:2%;
    
    margin-bottom:5px;
    
}

.social_img {
    
    width:10px;
    
}

#header_img {
    padding:0px;
    margin:0px;
    width:100%;
    box-shadow: 2px 2px 5px #000;
    /*Add other browser alt versions */
    
}
#mobile_header_img {
    
    display:none;
    
}
main {
    margin-left:2%;
    margin-right:2%;
    width:96%;
    font-size:80%;
    min-height:100%;
    
}

#navbar {
    
    
    margin-left:2%; 
    margin-right:2%;
    margin-bottom:10px;
    width:96%;
    height:35px;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    vertical-align:middle;
    text-align:center;
    padding:0px;
    
    background-color:#1e1e1e;
    box-shadow: 2px 2px 5px #000;
    /*Add other browser alt versions */
    
    /*font settings*/
    font-family:Tahoma,Geneva,sans-seriff;
}


#nav_ul {
    text-align:left;
    list-style-type:none;
    margin:0px;
    padding:0px;
    
}
.nav_li {
    margin:0px;
    padding:0px;
    padding-top: 0px;
    float:left;
    width:15%;
    border:0px solid white;
    height:35px;
    display:block;
    
    
}

.menu_links {
    
    display:block;
    line-height:35px;
    width:100%;
    min-width:100px;
    height:100%;
    margin-left:0px;
    margin-right:10px;
    padding:0px;

    border-right:1px solid #C9C9C9;
    text-align: center;
    font-weight: bold;
    font-size:80%;
    
}
.menu_links:hover {
    
    text-decoration:none;
    color:#000000;
    display:block;
    line-height:35px;
    width:100%;
    min-width:100px;
    height:100%;
    margin-left:0px;
    margin-right:10px;
    padding:0px;
    background-color:white;
    text-align: center;
    font-weight: bold;
    font-size:80%;
}


#mobile_menu {
    
    display:none;
    
}

#content {
    
    clear:both;
    width:70%;
    min-height:100%;
    border: 1px solid black;
    float:left;
    margin-bottom:10px;
    background-color:#1e1e1e;
    box-shadow: 2px 2px 5px #000;
    /*Add other browser alt versions */
    
    /*font settings*/
    color:#FFF;
    font-family:Tahoma,Geneva,sans-seriff;
    overflow:hidden;
    
    
}

.sub_headings {
    margin:0px;
    padding-top:40px;
    padding-left:50px;
    
}

.cont_index {
    
    font-size:110%;
    line-height: 200%;
    padding-top:20px;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:30px;
    text-align:justify;
    
}

#contact {
    width:28%;
    min-height:100%;
    border: 1px solid black;
    float:right;
    margin-bottom:10px;
    background-color:#1e1e1e;
    box-shadow: 2px 2px 5px #000;
    font-family:Tahoma,Geneva,sans-seriff;
    color:#FFFFFF;
    /*Add other browser alt versions */
}
.separator {
    
    margin-left:50px;
    margin-right:50px;
    
}
#aboutUs {
    
    color:white;
	font-family:Tahoma,Geneva,sans-seriff;
	margin:10px;
}
#aboutUs_pic{
	clear: both;
	width:50%;
    height:100%;
    border: 1px solid black;
    float:right;
    margin-bottom:10px;
	margin-left:20px;
    
}

#footer {
    
    width:100%;
    min-height:24px;
    clear: both;
    text-align:right;
    font-weight:normal;
    font-size:9px;
    color:#FFFFFF;
    margin-bottom:10px;
    font-family:Tahoma,Geneva,sans-seriff;
    
}

a:link, a:visited, a:active {
    
    color:#CACACA;
    text-decoration: none;
    
}

a:hover {
    
    color:#FFF;
    text-decoration: underline;
    
}

.contactForm {

	width: 90%; 
	height:100%;
	margin: 0px; 
    padding-top:20px;
	padding-left: 50px;
    padding-right: 50px;
    padding-bottom:20px;
	background-color: 334f71;
	margin: 10px 10px ; 
	padding: 10px 10px;
	
}

#news {
	
	width: 90%; 
	height:100%;
	margin: 0px; 
    padding-top:20px;
	padding-left: 50px;
    padding-right: 50px;
    padding-bottom:30px;
	background-color:334f71;
	margin: 10px 10px; 
	padding: 10px 10px;

}

label {
float: left; 
clear: left; 
margin: 11px 20px 0 0; 
width: 16px;
text-align: right; 
font-size: 16px; 
color: white; 
 

}

input.contact_form {
float:left;
width: 60%; 
height: 15px; 
padding: 10px 10px 10px 10px; 
margin: 10px 10px 10px 10px; 
background: #4b4b4b;


font-family: sans-serif; font-size: 16px; color: #f2f2f2; 
}
	

	
input.contact_form
{
color: #FFF; 
text-shadow: 0px -1px 0px grey; 
	}

textarea {
	width: 61%; height: 100%; padding: 10px 10px ; margin: 15px 15px 20px 42px; 
	background: #FFF;
	
	border-radius: 5px;  
	box-shadow: 0px 1px 0px #f2f2f2;
	font-family: sans-serif; font-size: 16px; color: #f2f2f2;  
}
	
	textarea {
	    color: white;  
	}
	
input.contact_form:focus, textarea:focus {
	background: black;
	 
	
}

input[type=submit] {
	width: 150px; height: 40px; float: right; padding: 5px 5px 5px 5px; margin: 15px 15px 0 0;
	box-shadow: 0px 0px 5px #999;
	border: 1px solid #556f8c;
	
	cursor: pointer;
}
h2{
	width:100%
	
}

#age {
    margin-top:50px;
    display:none;
    text-align:center;
    line-height: 35px;
    font-size:100%;
    color:white;
    font-family: Tahoma,Geneva,sans-seriff; 
}

#age_header {
    
    width:30%;
    min-width:350px;
}

#dob {
    
    width: 250px; 
    height: 25px;
    font-size:inherit;
    
}

#submit_age {
    
    width: 100px; 
    height: 27px;
    font-size:inherit;
    
}
#brewhouse {
    
    width:50%;
    float:left;
    margin-right:20px;
    margin-bottom:10px;
    
}

#navbar-expanded {
        display: block;
}